{% extends "AcmeExpensesBundle::layout.html.twig" %}

{% block title %}Expense Tracker - Entry{% endblock %}

{% block content %}
    <form action="" method="POST">
        {{ form_errors(form) }}
        <table>
            <tr>
                <td>
                    {{ form_label(form.name, 'Name') }}
                </td>
                <td>
                    {{ form_field(form.name) }}
                    {{ form_errors(form.name) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label(form.price, 'Price') }}
                </td>
                <td>
                    {{ form_field(form.price) }}
                    {{ form_errors(form.price) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label(form.amount, 'Quantity') }}
                </td>
                <td>
                    {{ form_field(form.amount) }}
                    {{ form_errors(form.amount) }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="btn" type="submit" value="Send" />
                    {{ form_hidden(form) }}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
