{% extends "AcmeExpensesBundle::layout.html.twig" %}

{% block title %}Expense Tracker - Entry{% endblock %}

{% block content %}
    <form action="" method="POST">
        {{ form_errors(form) }}
        <table>
            <tr>
                <td>
                    {{ form_label(form.itemName, 'Name') }}
                </td>
                <td>
                    {{ form_field(form.itemName) }}
                    {{ form_errors(form.itemName) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label(form.itemCost, 'Cost') }}
                </td>
                <td>
                    {{ form_field(form.itemCost) }}
                    {{ form_errors(form.itemCost) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label(form.itemQuantity, 'Quantity') }}
                </td>
                <td>
                    {{ form_field(form.itemQuantity) }}
                    {{ form_errors(form.itemQuantity) }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="btn" type="submit" value="Send" />
                    {{ form_hidden(form) }}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
